# Ignore all items by default.
*

# Format content of those directories.
!/repo/
!/repo/justchess/
!/repo/justchess/_web/
!/repo/justchess/_web/assets/
!/repo/justchess/_web/assets/styles/
!/repo/justchess/_web/assets/scripts/
!/repo/justchess/_web/assets/styles/**
!/repo/justchess/_web/assets/scripts/**