# Ignore all items by default.
*

# Format content of those directories.
!/repo/
!/repo/justchess/
!/repo/justchess/_web/
!/repo/justchess/_web/css/
!/repo/justchess/_web/js/

!/repo/justchess/_web/css/**
!/repo/justchess/_web/js/**